<?xml version="1.0" encoding="UTF-8"?>
<!--
 iCalcreator, the PHP class package managing iCal (rfc2445/rfc5445) calendar information.

 This file is a part of iCalcreator.

 author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
 copyright 2007-2022 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 license   Subject matter of licence is the software iCalcreator.
           The above copyright, link, package and version notices,
           this licence notice and the invariant [rfc5545] PRODID result use
           as implemented and invoked in iCalcreator shall be included in
           all copies or substantial portions of the iCalcreator.

           iCalcreator is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           iCalcreator is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with iCalcreator. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         bootstrap="test/autoload.php"
>
    <testsuites>
        <testsuite name="Vcalendar Tests">
            <file>test/VcalendarTest.php</file>
            <file>test/FactoryCompTest.php</file>
        </testsuite>
        <testsuite name="Date Tests">
            <file>test/Exception1Test.php</file>
            <file>test/DateTest.php</file>
            <file>test/Exception6Test.php</file>
            <file>test/DateTzTest.php</file>
            <file>test/Exception2Test.php</file>
            <file>test/DateTimeTest.php</file>
            <file>test/DateTimeUTCTest.php</file>
        </testsuite>
        <testsuite name="DateInterval Tests">
            <file>test/Exception3Test.php</file>
            <file>test/DateIntervalTest1.php</file>
            <file>test/DateIntervalTest2.php</file>
            <file>test/DateIntervalTest3.php</file>
        </testsuite>
        <testsuite name="Integer property Tests">
            <file>test/Exception4Test.php</file>
            <file>test/IntegerTest.php</file>
        </testsuite>
        <testsuite name="Misc. property Tests">
            <file>test/Exception5Test.php</file>
            <file>test/Prop1TextSingleTest.php</file>
            <file>test/Prop2TextMultiTest.php</file>
            <file>test/PropXTest.php</file>
            <file>test/PropEmptyTest.php</file>
            <file>test/ParseTest.php</file>
        </testsuite>
        <testsuite name="Valarm property Tests">
            <file>test/ValarmTest.php</file>
        </testsuite>
        <testsuite name="Vtimezone populate Tests">
            <file>test/VtimezonePopulateFactoryTest.php</file>
        </testsuite>
        <testsuite name="Timezone regulate Tests">
            <file>test/RegulateTimezoneFactoryTest.php</file>
        </testsuite>
        <testsuite name="Recur Tests">
            <file>test/RecurYearTest.php</file>
            <file>test/RecurMonthTest.php</file>
            <file>test/RecurWeekTest.php</file>
            <file>test/RecurDayTest.php</file>
            <file>test/Exception7Test.php</file>
            <file>test/SelectComponentsTest.php</file>
            <file>test/SelectComponentsTest2.php</file>
        </testsuite>
        <testsuite name="vCard Tests">
            <file>test/IcalvCardFactoryTest.php</file>
        </testsuite>
    </testsuites>
    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="false"
            disableCodeCoverageIgnore="true">
        <include>
            <file>src/Available.php</file>
            <file>src/CalendarComponent.php</file>
            <file>src/Daylight.php</file>
            <file>src/DScomponent.php</file>
            <file>src/IcalBase.php</file>
            <file>src/IcalInterface.php</file>
            <file>src/Participant.php</file>
            <file>src/Standard.php</file>
            <file>src/V2component.php</file>
            <file>src/V3component.php</file>
            <file>src/VAcomponent.php</file>
            <file>src/Valarm.php</file>
            <file>src/Vavailability.php</file>
            <file>src/Vcalendar.php</file>
            <file>src/Vcomponent.php</file>
            <file>src/Vevent.php</file>
            <file>src/Vfreebusy.php</file>
            <file>src/Vjournal.php</file>
            <file>src/Vlocation.php</file>
            <file>src/Vresource.php</file>
            <file>src/Vtimezone.php</file>
            <file>src/Vtodo.php</file>
            <file>src/Traits/ACKNOWLEDGEDrfc9074trait.php</file>
            <file>src/Traits/ACTIONtrait.php</file>
            <file>src/Traits/ATTACHtrait.php</file>
            <file>src/Traits/ATTENDEEtrait.php</file>
            <file>src/Traits/CALENDAR_ADDRESSrfc9073trait.php</file>
            <file>src/Traits/CALSCALEtrait.php</file>
            <file>src/Traits/CATEGORIEStrait.php</file>
            <file>src/Traits/CLASStrait.php</file>
            <file>src/Traits/COLORrfc7986trait.php</file>
            <file>src/Traits/COMMENTtrait.php</file>
            <file>src/Traits/COMPLETEDtrait.php</file>
            <file>src/Traits/CONFERENCErfc7986trait.php</file>
            <file>src/Traits/CONTACTtrait.php</file>
            <file>src/Traits/CREATEDtrait.php</file>
            <file>src/Traits/DESCRIPTIONtrait.php</file>
            <file>src/Traits/DTENDtrait.php</file>
            <file>src/Traits/DTSTAMPtrait.php</file>
            <file>src/Traits/DTSTARTtrait.php</file>
            <file>src/Traits/DUEtrait.php</file>
            <file>src/Traits/DURATIONtrait.php</file>
            <file>src/Traits/EXDATEtrait.php</file>
            <file>src/Traits/EXRULEtrait.php</file>
            <file>src/Traits/FREEBUSYtrait.php</file>
            <file>src/Traits/GEOtrait.php</file>
            <file>src/Traits/IMAGErfc7986trait.php</file>
            <file>src/Traits/LAST_MODIFIEDtrait.php</file>
            <file>src/Traits/LOCATIONtrait.php</file>
            <file>src/Traits/LOCATIONTYPErfc9073trait.php</file>
            <file>src/Traits/METHODtrait.php</file>
            <file>src/Traits/NAMErfc7986trait.php</file>
            <file>src/Traits/NewVlocationTrait.php</file>
            <file>src/Traits/ORGANIZERtrait.php</file>
            <file>src/Traits/Participants2AttendeesTrait.php</file>
            <file>src/Traits/PERCENT_COMPLETEtrait.php</file>
            <file>src/Traits/PRIORITYtrait.php</file>
            <file>src/Traits/PRODIDtrait.php</file>
            <file>src/Traits/PROXIMITYrfc9074trait.php</file>
            <file>src/Traits/RDATEtrait.php</file>
            <file>src/Traits/RECURRENCE_IDtrait.php</file>
            <file>src/Traits/REFRESH_INTERVALrfc7986trait.php</file>
            <file>src/Traits/RELATED_TOtrait.php</file>
            <file>src/Traits/REPEATtrait.php</file>
            <file>src/Traits/REQUEST_STATUStrait.php</file>
            <file>src/Traits/RESOURCE_TYPErfc9073trait.php</file>
            <file>src/Traits/RESOURCEStrait.php</file>
            <file>src/Traits/RRULEtrait.php</file>
            <file>src/Traits/SEQUENCEtrait.php</file>
            <file>src/Traits/SOURCErfc7986trait.php</file>
            <file>src/Traits/STATUStrait.php</file>
            <file>src/Traits/STRUCTURED_DATArfc9073trait.php</file>
            <file>src/Traits/STYLED_DESCRIPTIONrfc9073trait.php</file>
            <file>src/Traits/SUMMARYtrait.php</file>
            <file>src/Traits/TRANSPtrait.php</file>
            <file>src/Traits/TRIGGERtrait.php</file>
            <file>src/Traits/TZID_ALIAS_OFrfc7808.php</file>
            <file>src/Traits/TZIDtrait.php</file>
            <file>src/Traits/TZNAMEtrait.php</file>
            <file>src/Traits/TZOFFSETFROMtrait.php</file>
            <file>src/Traits/TZOFFSETTOtrait.php</file>
            <file>src/Traits/TZUNTILrfc7808.php</file>
            <file>src/Traits/TZURLtrait.php</file>
            <file>src/Traits/UIDrfc7986trait.php</file>
            <file>src/Traits/URLtrait.php</file>
            <file>src/Traits/VERSIONtrait.php</file>
            <file>src/Traits/X_PROPtrait.php</file>
            <file>src/Util/CalAddressFactory.php</file>
            <file>src/Util/DateIntervalFactory.php</file>
            <file>src/Util/DateTimeFactory.php</file>
            <file>src/Util/DateTimeZoneFactory.php</file>
            <file>src/Util/GeoFactory.php</file>
            <file>src/Util/HttpFactory.php</file>
            <file>src/Util/IcalvCardFactory.php</file>
            <file>src/Util/IcalXMLFactory.php</file>
            <file>src/Util/ParameterFactory.php</file>
            <file>src/Util/RecurFactory.php</file>
            <file>src/Util/RecurFactory2.php</file>
            <file>src/Util/RegulateTimezoneFactory.php</file>
            <file>src/Util/RexdateFactory.php</file>
            <file>src/Util/SelectFactory.php</file>
            <file>src/Util/SortFactory.php</file>
            <file>src/Util/StringFactory.php</file>
            <file>src/Util/Util.php</file>
            <file>src/Util/UtilDateTime.php</file>
            <file>src/Util/VtimezonePopulateFactory.php</file>
        </include>
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions-->
        <!-- Remove or comment after your own choice-->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs/PHPUnitCoverage" lowUpperBound="60" highLowerBound="80"/>
            <php outputFile="testDocs/coverage.php"/>
            <text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
            <!-- xml outputDirectory="testDocs/xml-coverage"/ -->
        </report>
    </coverage>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->

        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
        <text outputFile="testDocs/logfile.txt"/>
    </logging>
    <php>
        <!-- define the (YmdTHis) dateTime -->
        <const name="DATEYmdTHis" value="20160229T010000"/>
        <!-- define the (Ymd) dateTime -->
        <const name="DATEYmd" value="20160229"/>
        <!-- define the 'local' timeZone -->
        <const name="LTZ" value="America/New_York"/>
        <!-- define an offset (MUST have timezone) -->
        <const name="OFFSET" value="+0300"/>
        <!-- define some other timeZone -->
        <const name="TZ2" value="Europe/Stockholm"/>
    </php>
</phpunit>
